.btnFlecha{
    background-color: white;
    border: transparent;
    padding-right: 15px;
    padding-left: 15px;
}

button:active,
button:focus{
    outline: none;
}


.styleFlecha{
    color: blueviolet;
    font-size: 50px;
    transition: 0.3s;
    
}

.styleFlechaDisabled{
    color: grey;
    font-size: 50px;
    
}

.styleFlecha:hover{
    color: rgb(53, 6, 97);
    transition: ease-in-out;
    
}
