

button:active,
button:focus{
    outline: none;
}


.styleFlecha{
    color: black;
    font-size: 50px;
    transition: 0.3s;
    
}


.styleFlecha:hover{
    color: rgb(53, 6, 97);
    transition: ease-in-out;
    
}

.centrar{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 30px;
}
