.aNav{
    padding-left: 20px;
    font-size: small;
}

button{
    background-color: black;
}

header{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navBar{
    align-content: right;
}

.imagencita{
    margin-right: 10px;
}