.aNav{
    padding-left: 20px;
    font-size: small;
}

button{
    background-color: black;
}

header{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navBar{
    align-content: right;
}

.imagencita{
    margin-right: 10px;
}

.colorHeader{
    background-color: #673ab7;
}

.navBar>a{
    color: white;
    padding-left: 30px;
    font-size: 16px;
}

.navBar>a.selected{
    color: #89b73a;
}

.navbar-brand>a{
    color: white;
}


.navbar-brand>a.selected{
    color: #89b73a;
}